{% extends 'masters.html' %}
{% load static %}
{% block content %}
<div class="p-5 text-center text-white bg-light" style="background-image: url(https://image.freepik.com/free-photo/weights-exercise-weightlifter-strong-athletic_1139-709.jpg);background-repeat: no-repeat;background-size: cover;">
    <h1 class="mb-3 display-4" style="font-weight: bolder;letter-spacing: 3px;font-family: 'Ubuntu', sans-serif;color: orange;">About Us</h1>
    <h4 class="mb-3" style="font-family: 'Ubuntu', sans-serif;color: orange; letter-spacing: 3px;">CrossFit</h4>
</div>

<div class="row mt-5 text-center">
    <div class="col-lg-12">
        <h1 style="font-family:'Ubuntu'; color: orange; font-weight: 600; letter-spacing: 1px;">WHO WE ARE & WHAT WE DO</h1>
        <p class="lead" style="padding: 0px 150px 0px 150px; font-family: 'Ubuntu', sans-serif;font-size: larger;font-weight: 400;">CrossFit is a cutting-edge functional fitness system that can help everyday men. There is a significant portion of the population here in Asia, that actually want and need success to be hard!</p>
    </div>
</div>

<!-- <div class="row">
    <div class="col-lg-12">
        <img src="{% static 'images/aboutgym.jpg' %}" alt="Responsive image" width="100%" style="padding: 20px 150px 0px 150px;">
    </div>
</div> -->

<div class="row mt-5 mx-auto">
    <div class="col-lg-6 pl-5 text-center" style="padding-top: 30px;">
        <h3 style="color: orange;">About Us</h3>
        <p class="lead" style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos magnam excepturi natus eius rem. Alias hic totam optio pariatur voluptatibus repellendus, veritatis quaerat voluptate libero eos ex similique? Nulla labore cum neque perferendis cumque ex possimus officiis corporis accusantium. Facere est eligendi excepturi, tenetur expedita veniam repudiandae? Unde, voluptatibus?</p>
        <p class="lead" style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore debitis quas recusandae quasi delectus provident laudantium tenetur voluptate molestias dicta! Doloribus facilis amet aliquid illo fugiat. Necessitatibus repudiandae odit neque.</p>
    </div>
    <div class="col-lg-6 pr-5">
        <img class="img-thumbnail" src="{% static 'images/aboutus.jpg' %}" alt="">
    </div>
</div>

<div class="row text-center mt-5">
    <div class="col-lg-12">
           <div class="jumbotron jumbotron-image shadow h-30" style="background-color: orange;">
             <ul class="list-unstyled text-dark list-inline">
                <li class="list-inline-item aboutlist">
                    <h1>10+</h1>
                    <h6>YEARS OF EXPERIENCE</h6>
                </li>
                <li class="list-inline-item aboutlist">
                    <h1>6+</h1>
                    <h6>FITNESS TRAINERS</h6>
                </li>
                <li class="list-inline-item aboutlist">
                    <h1>100+</h1>
                    <h6>EQUIPMENTS</h6>
                </li>
                <li class="list-inline-item aboutlist">
                    <h1>3k+</h1>
                    <h6>STATISFIED CLIENTS</h6>
                </li>
             </ul>
           </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-lg-6 pl-5">
        <img class="img-thumbnail" src="{% static 'images/about2.jpg' %}" alt="">
    </div>
    <div class="col-lg-6 pr-5 text-center pt-2">
        <h3 style="color: orange;">Our Quality</h3>
        <p class="lead" style="font-size: large;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos magnam excepturi natus eius rem. Alias hic totam optio pariatur voluptatibus repellendus, veritatis quaerat voluptate libero eos ex similique? Nulla labore cum neque perferendis cumque ex possimus officiis corporis accusantium.</p>
        <ul class="list-unstyled lead " style="font-size: large;">
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-warning"></i> Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, at corrupti laudantium mollitia nesciunt temporibus.</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-warning"></i> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores, placeat!</li>
            <li class="mb-3">
              <i class="fa fa-check mr-2 text-warning"></i> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet, aspernatur?</li>
          </ul>
    </div>
</div>


<div class="row text-center mt-5">
    <div class="col-lg-12">
           <div class="jumbotron text-white jumbotron-image shadow" style="background-image: url(https://image.freepik.com/free-photo/stronger-young-muscular-caucasian-athlete-practicing-lunges-gym-with-barbell-male-model-doing-strength-exercises-training-his-lower-body-wellness-healthy-lifestyle-bodybuilding-concept_155003-36806.jpg);background-repeat: no-repeat;background-size: cover ;">
             <h2 class="mb-4 display-3" style="font-weight: bolder;letter-spacing: 3px;font-family: 'Ubuntu', sans-serif;color: orange;">
               GET STARTED TODAY
             </h2>
             <p class="mb-4" style="font-size: large;font-family: 'Ubuntu', sans-serif;color: orange; letter-spacing: 3px;">
               WHERE HEALTH, BEAUTY AND FITNESS MEET
             </p>
             <button class="btn btn-outline-warning" style="font-family: 'Ubuntu', sans-serif; border-radius: 50px;letter-spacing: 2px;" data-toggle="modal" data-target="#registrationmodal">ENROLL NOW</button>
           </div>
    </div>
</div>




{% endblock %}
