{% extends 'masters.html' %}
{% load static %}
{% block content %}
<div class="p-5 text-center text-white bg-light" style="background-image: url(https://images.moneycontrol.com/static-mcnews/2021/01/Gym-workout-India-770x433.jpg?impolicy=website&width=770&height=431);background-repeat: no-repeat;background-size: cover;">
    <h1 class="mb-3 display-4" style="font-weight: bolder;letter-spacing: 3px;font-family: 'Ubuntu', sans-serif;color: orange;">Classes</h1>
    <h4 class="mb-3" style="font-family: 'Ubuntu', sans-serif;color: orange; letter-spacing: 3px;">CrossFit</h4>
</div>



{% endblock %}