body{
    font-family: 'Ubuntu', sans-serif;
}
nav{
    background-image: linear-gradient(180deg,#abbaab,#ffffff);
}
.nav-link{
    margin-left: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.nav-link:hover{
    font-weight: 600;

}
a {
    color: var(--mainColor);
    text-decoration: none;
  }
footer{
    background-image: linear-gradient(to top,#c0ccc0,#ffffff)
}
.servicecard{
    transition: transform .2s;
}
.servicecard:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.fadeimg{
    opacity: 0.8;
    transition: 0.3s;
}
.fadeimg:hover{
    opacity: 1;
}
.register {
    position: relative;
    text-align: center;
    color: white;
  }
  

  .border-base-color {
    border-color: #ef4135 !important;
}

.box-shadow {
    box-shadow: 0 0 25px 0 rgba(0,0,0,.05);
}
.border-extra-thick {
    border-width: 4px!important;
}
.border-top {
    border-top: 1px solid rgba(0,0,0,.1);
}
.text-center {
    text-align: center!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.bg-black {
    background-color: black!important;
}
.title-large {
    font-size: 1.75rem!important;
    line-height: 1rem!important;
}
.pricing .price .symbol {
    bottom: 36px;
    position: relative;
}
.title-medium {
    font-size: 1.5rem!important;
    line-height: 2.25rem!important;
}
.title-extra-large-5 {
    font-size: 5rem!important;
    line-height: 5rem!important;
}
.text-medium {
    font-size: .875rem!important;
    line-height: 1.313rem!important;
}
.bg-base-color {
    background-color: orange !important;
}

.trainhead{
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif; 
}
.aboutlist{
    padding: 0px 70px 0px 70px;
    color: black;

}
.navigation{
    height: 80px;
    background-image: linear-gradient(20deg,orange,orange);
}
.pills{
    background-color: orange;
    /* width: 60%; */
    height: 38px;
    font-weight: 800;
    border-radius: 30px;
    padding-left: 20px;
    padding-top: 8px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: space-between;
}
.row{
    margin: 0px;
}
.pillcontent{
    /* width: 58%; */
    height: auto;
}