{% extends 'adminmaster.html' %}
{% load static %}
{% block content %}
</style>
<h2 class="p-4">Add Trainers</h2>
    <hr class="hline w-90">
    <div class="container my-5">
        <div class="col-md-7 col-lg-8 mx-auto ">
            <form class="border border-3 p-5">
              <div class="row g-3">
                <div class="col-sm-5">
                  <label for="firstName" class="form-label">First name</label>
                  <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
                </div>
    
                <div class="col-sm-5">
                  <label for="lastName" class="form-label">Last name</label>
                  <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
                </div>

                <div class="col-sm-2">
                    <label for="lastName" class="form-label">Age</label>
                    <input type="number" class="form-control" id="lastName" placeholder="" value="" required>
                  </div>
    
                <div class="col-6">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="you@example.com">
                </div>

                <div class="col-6">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="">
                  </div>
    
                <div class="col-12">
                  <label for="address" class="form-label">Address</label>
                  <input type="text" class="form-control" id="address" placeholder="1234 Main St">
                </div>
                
                <div class="col-4">
                    <label for="date" class="form-label">Date of Joining</label>
                    <input type="date" class="form-control" id="date" placeholder="">
                </div>
    
                <div class="col-4">
                    <label for="" class="form-label">Training Timing</label>
                    <input type="time" class="form-control" id="time" placeholder="from">
                </div>
    
                <div class="col-4 pt-2">
                    <label for="" class="form-label"></label>
                    <input type="time" class="form-control" id="time" placeholder="till">
                </div>
              </div>
    
              <hr class="my-4">
    
              <h6 class="mb-3">Qualified In-</h6>
    
              <div class="col-12 my-3">
                <div class="form-check form-check-inline">
                  <input id="credit" name="" type="checkbox" class="form-check-input">
                  <label class="form-check-label" for="credit">Crossfit</label>
                </div>
                <div class="form-check form-check-inline">
                  <input id="debit" name="" type="checkbox" class="form-check-input">
                  <label class="form-check-label" for="debit">Yoga</label>
                </div>
                <div class="form-check form-check-inline">
                  <input id="paypal" name="" type="checkbox" class="form-check-input">
                  <label class="form-check-label" for="paypal">BodyBuilding</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="paypal" name="" type="checkbox" class="form-check-input" >
                    <label class="form-check-label" for="paypal">Indoor cycling</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="paypal" name="" type="checkbox" class="form-check-input" >
                    <label class="form-check-label" for="paypal">Nutritionist</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="paypal" name="" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="paypal">Dietitian</label>
                </div>
                <div class="form-check form-check-inline">
                    <input id="paypal" name="" type="checkbox" class="form-check-input">
                    <label class="form-check-label" for="paypal">weight-loss</label>
                </div>
              </div>
    
              <button class="w-100 btn btn-outline-warning btn-lg text-dark" type="submit">Add Trainers</button>
            </form>
          </div>
        </div>
      </main>
    </div>

{% endblock %}